#casilla{
    width: 5em;
    height: 5em;
    border: 1px solid black;
    
    justify-content: center;
    align-items: center;
    background-color: grey;
}

#tablero{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0;
    justify-content: center;
}

