#izquierda{
    float: left;
    width: 50%;
    height: 100%;
    background-color: red;
}

#derecha{
    float: right;
    width: 50%;
    height: 100%;
    background-color: green;
}

#boton{
    text-align: center;
    margin-top: 10%;
}

body{
    background-color: antiquewhite;
    
}
img{
    text-align: center;
    width: 30em;
}